@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vendor/reset';
@import './variables/variables';

body,
:root,
#root {
  background-color: $primary;
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.button-primary {
  @apply bg-primaryBtn hover:bg-primaryBtn-hover rounded-md px-8 py-2 text-lg;
}

.input {
  @apply rounded-md pl-2 py-2 border-2 border-solid border-primaryBtn-border placeholder:text-gray-400;
}

.openCart {
  @apply translate-x-0 duration-500;
}

.cart {
  @apply translate-x-[400px] duration-500 transform;
}
